$backgroundColor:rgba(0,0,0,.9);
$highOpacity: rgba(255,255,255,1);
$medOpacity: rgba(255,255,255,.8);
$lightOpacity: rgba(255,255,255,.7);
$lighterOpacity: rgba(255,255,255,.1);
$lightestOpacity: rgba(255,255,255,.05);
$lighterthanlightestOpacity: rgba(255,255,255,.08);
$lighterevenstillOpacity: rgba(255,255,255,.05);

$shadowOpacity: rgba(0,0,0,.5);
$linkColor: #1b9cd2;
$linkHover: #0073a7;

//TOKEN COLORS
$tokenFirst: $linkColor;
$tokenSecond: #39a17c;
$tokenThird: #a8936f;
$tokenFourth: #e6af52;
$tokenFifth: #6f7ca8;

//FILTER SHADE
$stepOne: rgba(0,0,0,0.5);
$stepTwo: rgba(0,0,0,0.4);
$stepThree: rgba(0,0,0,0.2);
$stepFour: rgba(0,0,0,0.05);
$stepFive: rgba(0,0,0,0);