$backgroundColor:rgba(255,255,255,.95);
$highOpacity: rgba(0,0,0,.9);
$medOpacity: rgba(0,0,0,.7);
$lightOpacity: rgba(0,0,0,.6);
$lighterOpacity: rgba(0,0,0,.1);
$lightestOpacity: rgba(0,0,0,.05);
$lighterthanlightestOpacity: rgba(0,0,0,.04);
$lighterevenstillOpacity: rgba(0,0,0,.02);

$shadowOpacity: rgba(0,0,0,.2);
$linkColor: #1b9cd2;
$linkHover: #0073a7;

//TOKEN COLORS
$tokenFirst: $linkColor;
$tokenSecond: #39a17c;
$tokenThird: #a8936f;
$tokenFourth: #e6af52;
$tokenFifth: #6f7ca8;

//FILTER SHADE
$stepOne: rgba(0,0,0,0.4);
$stepTwo: rgba(0,0,0,0.3);
$stepThree: rgba(0,0,0,0.15);
$stepFour: rgba(0,0,0,0.02);
$stepFive: rgba(0,0,0,0);