/******************************************** NAVIGATIONALS */
#webkite-results{

  .webkite-results-header, .webkite-results-footer{
    @include breakThat;
    text-align: justify;
    position: relative;
    .webkite-title-area, .webkite-sort-area, .webkite-filter-area, .webkite-branding-area, .webkite-pagination-area{
      display: inline-block;
      vertical-align:top;
      }
    /* light theme only */
    .webkite-branding-area a {
      background: url("branding-light.svg") center top no-repeat;
      display: inline-block;
      height: 2.813em;
      width: 8.5em;
      }
    }
  .webkite-results-header{
    line-height: 1;
    }
  .webkite-results-footer{
    height: 2.813em;
    }
    
  }

/************************************************* SORTS */
#webkite-results{

  .webkite-sort-area > .webkite-toggle{
    @include boxedUp;
    @include roundedUp(.188em);
    background: $lightestOpacity;
    color: $lightOpacity;
    cursor: pointer;
    display: inline-block;
    border: 1px solid $lighterOpacity;
    font: 700 .875em/1.3 "Open Sans";
    margin: 0;
    outline: none;
    padding: $mainGutter/4 $mainGutter/2;
    height: 2em;
    text-align: left;
    i{
      background: url("angle-light.png") center center no-repeat;
      display: inline-block;
      height: 10px;
      margin-left: $mainGutter/2;
      pointer-events: none;
      width: 10px;
      }
    }
  .webkite-sort-area{
    position: relative;
    z-index: 3;
    }
  
  }

/********************************************* SORT MENU */
#webkite-results{

  .sort-menu{
    margin: 0;
    @include roundedUp(.375em);
    @include shadowHere;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    background: white;
    font-size: .875em;
    padding: $mainGutter/2 0;
    position: absolute;
    z-index: 4;
    top: $mainGutter/2;
    left: $mainGutter/2;
    }
  .sort-menu li{
    list-style-type: none;
    position: relative;
    }
  .sort-menu li a{
    display: block;
    padding: $mainGutter/8 $mainGutter/2;
    white-space: pre;
    &:hover{
      background: $linkColor;
      color: white;
      } 
    }
  /* directional arrow */
  .sort-menu li.active a{
    position: relative;
    padding-right: $mainGutter*1.5;
    &.asc::after, &.desc::after{
      background: url("sort-direction.png") no-repeat;
      content: "";
      display: block;
      height: 5px;
      width: 10px;
      position: absolute;
      top: $mainGutter/2;
      right: $mainGutter/2;
      }
    &.asc::after{background-position: 0 0;}
    &.desc::after{background-position: 0 -5px;}
    }
  
  }

/************************************************ FILTERS */
#webkite-results{

  .webkite-filter-area{
    @include boxedUp;
    width: 100%;
    position: relative;
    }
  .webkite-sort-area + .webkite-filter-area{
    padding-left: 4.9em;
    margin-left: -4.9em;
    }
  .webkite-applied-filters{
    position: relative; 
    }
  .current-filters{
    @include roundedUp(.188em);
    @include boxedUp;
    background: white;
    border: 1px solid $lighterOpacity;
    display: inline-block;
    height: 1.75em;
    padding: $mainGutter/4 1.563em $mainGutter/4 4.563em;
    position: relative;
    width: 100%;
    text-align: left;
    /* and & or */
    span{
      color: $lightOpacity;
      font-size: .875em;
      line-height: 1.2em;
      padding: 0 $mainGutter/3;
      vertical-align: top;
      }
    }
  .webkite-applied-filters > .webkite-toggle{
    cursor: pointer;
    display: inline-block;
    position: absolute;
    margin: 0;
    outline: none;
    z-index: 2;
    left: 0;
    @include boxedUp;
    @include roundedUp(.188em 0 0 .188em);
    background: $lightestOpacity;
    border: 1px solid $lightestOpacity;
    border-right: 1px solid $lighterOpacity;
    color: $lightOpacity;
    font: 700 .875em/1em "Open Sans";
    padding: 0 $mainGutter/2;
    height: 2em;
    i{
      background: url("plus-light.png") no-repeat;
      display: inline-block;
      height: 12px;
      width: 12px;
      margin-left: $mainGutter/2;
      pointer-events: none;
      }
    }
  .filter-token-wrapper{
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    }
  /* tokens */
  a.webkite-remove-filter{
    @include ellipsisThis;
    @include roundedUp (.188em);
    color: white;
    font-size: 0.875em;
    line-height: 1em;
    max-width: 6.25em;
    padding: $mainGutter/20 $mainGutter/4;
    text-align: left;
    word-wrap: normal;
    &:hover{text-decoration: line-through;}
    }
  [class^="filter-group"]{
    display: inline-block;
    }
  .filter-group-0 a.webkite-remove-filter{
    background: $tokenFirst;
    }
  .filter-group-1 a.webkite-remove-filter{
    background: $tokenSecond;
    }
  .filter-group-2 a.webkite-remove-filter{
    background: $tokenThird;
    }
  .filter-group-3 a.webkite-remove-filter{
    background: $tokenFourth;
    }
  .filter-group-4 a.webkite-remove-filter{
    background: $tokenFifth;
    }
  /* clear everything */ 
  a.webkite-clear-filters{
    background: url("clear-all-icon.png") center top no-repeat;
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-top: -1px;
    position: absolute;
    right: .325em;
    top:.375em;
    &:active{
      background-position: 0 -18px;
      }
    }
  
  
  }

/**************************************** FILTER DROPDOWN */
#webkite-results{

  .filter-menu{
    margin: 0;
    @include roundedUp(.375em);
    @include shadowHere;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    background: white;
    font-size: .875em;
    padding: $mainGutter/2 0;
    position: absolute;
    z-index: 3;
    top: $mainGutter/2;
    left: $mainGutter/2;
    }
  .filter-menu li{
    list-style-type: none;
    position: relative;
    }
  .filter-menu li .webkite-link, .filter-menu li a{
    color: $linkColor;
    display: block;
    padding: $mainGutter/8 $mainGutter/2;
    white-space: pre;
    &:hover{
      background: $linkColor;
      color: white;
      }
    }
  .filter-menu > li > .webkite-link{
      color: $linkColor;
      cursor: pointer;
      padding-right: $mainGutter;
      position: relative;
      &::after{
        content: "\203A";
        color: $lightOpacity;
        opacity: .5;
        position: absolute;
        right: $mainGutter/3;
        }
      }
  .filter-menu-child{
    @include roundedUp(.375em);
    @include shadowHere;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    display: none; 
    position: absolute; 
    background: white;
    padding: $mainGutter/2 0;
    left: 100%;
    top: 0;
    margin: 0;
    }
  .filter-menu li:hover .filter-menu-child{
    display: block;
    }
  
  }

/******************************* FILTER OVERVIEW AND SHADE */
#webkite-results{
  
  .webkite-truncated:before{
    content: "";
    @include gradiateHorizontal;
    height: auto; width: 1.5em;
    position: absolute;
    left: 4.5em;
    top:0;
    bottom:0;
    }
  .all-current-filters{
    @include roundedUp(.188em);
    @include boxedUp;
    background: white;
    border: 1px solid $lighterOpacity;
    line-height: 1.2em;
    padding:$mainGutter/3 1.563em $mainGutter/5 $mainGutter/3;
    position: absolute;
    top:0;
    z-index: 3;
    .all-filters-wrapper{
      white-space: normal;
      [class^="filter-group"]{display: inline;}
      }
    a.webkite-clear-filters{margin-top: -2px; margin-right: -1px;}
    }
  
  }

/********************************************* PAGINATION */
#webkite-results{
  
  .webkite-pagination-area{
    font: 400 1.2em/0 "Open Sans";
    }
  .webkite-results-paginator{
    font-size: 1em;
    a, p{display: inline;}
    em{font-style: italic;}
    a{font-size: 1.2em; line-height: 0;}
    }
  .first-result-page, .previous-result-page{
    padding-right: $mainGutter/2;
    &.disabled{color: $lightOpacity;&:hover{color: $lightOpacity; cursor:not-allowed;}}
    }
  .next-result-page, .last-result-page{
    padding-left: $mainGutter/2;
    &.disabled{color: $lightOpacity;&:hover{color: $lightOpacity; cursor:not-allowed;}}
    }
  /* page input */
  input.webkite-page-input{
    @include roundedUp(.188em);
    border: 1px solid $lighterOpacity;
    padding: $mainGutter/4;
    max-width: 1.5em; 
    font-size: .9em;
    color: $lightOpacity;
    }
  /* remove arrows */
  .webkite-page-input::-webkit-outer-spin-button,
  .webkite-page-input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
    }
    
}