@mixin roundedUp($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
  }
@mixin boxedUp{
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
@mixin shadowHere{
  -webkit-box-shadow: 0 .125em .313em $shadowOpacity;
  -moz-box-shadow: 0 .125em .313em $shadowOpacity;
  box-shadow: 0 .125em .313em $shadowOpacity;
  }
@mixin hyphenGreat{
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  }
@mixin ellipsisThis{
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  }
@mixin breakThat{
  &::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;margin: 0;padding: 0; white-space: pre-line;
    margin-bottom: $mainGutter;
    }
  }
@mixin putHere ($position){
  top: $position;
  right: $position;
  bottom: $position;
  left: $position;
  }
@mixin gradiateHorizontal{
  background: -moz-linear-gradient(left,  $stepOne 0%, $stepTwo 5%, $stepThree 25%, $stepFour 75%, $stepFive 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,$stepOne), color-stop(5%,$stepTwo), color-stop(25%,$stepThree), color-stop(75%,$stepFour), color-stop(100%,$stepFive));
  background: -webkit-linear-gradient(left,  $stepOne 0%,$stepTwo 5%,$stepThree 25%,$stepFour 75%,$stepFive 100%);
  background: -o-linear-gradient(left,  $stepOne 0%,$stepTwo 5%,$stepThree 25%,$stepFour 75%,$stepFive 100%);
  background: -ms-linear-gradient(left,  $stepOne 0%,$stepTwo 5%,$stepThree 25%,$stepFour 75%,$stepFive 100%);
  background: linear-gradient(to right,  $stepOne 0%,$stepTwo 5%,$stepThree 25%,$stepFour 75%,$stepFive 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#00000000',GradientType=1 );
  }